.view-component {
  .delete-row {
    color: #dcd2d2;
    cursor: pointer;
    background: #ec2e2e;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .see-stats {
    display: flex;
    flex-direction: row-reverse;
    margin: 0% 4%;
  }
  .expenses-list {
    margin: 1% 5% 4% 5%;
  }
  .add-field-button{
    position: fixed;
    bottom: 75px;
    right: 45px;
    z-index: 1;
  }
  .expense-form {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
  }
}
