.view-component {
  .appbar-img {
    width: 40px;
    margin-right: 15px;
  }
  .title {
    padding-left: 0px;
  }
  .expenses-list {
    margin: 4% 5%;
  }
  .add-field-button{
    position: fixed;
    bottom: 75px;
    right: 45px;
    z-index: 1;
  }
}
