.component-add-expense {
  .expense-form {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
  .category {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
